@if(complaintData){
<p class="m-8 text-3xl font-bold">
    Denuncia Nro {{ complaintData.complaint_id }}
</p>
<div class="flex justify-center">
    <div class="bg-white form shadow-lg rounded-lg p-8">
        <p
            class="text-2xl font-bold text-center border-b-2 border-indigo-500 mb-5"
        >
            Datos de la denuncia
        </p>
        <div>
            <div class="flex flex-row justify-center gap-4 mb-3">
                <div class="flex-col grow">
                    <span for="incident_date">Fecha del suceso.</span>
                    <p class="p-2 border border-indigo-500 rounded-md">
                        {{ complaintData.incident_date }}
                    </p>
                </div>
                <div class="flex-col grow">
                    <span>Clasificación del vuelo.</span>
                    <p class="p-2 border border-indigo-500 rounded-md">
                        {{ complaintData.ticket.flight_type_id }}
                    </p>
                </div>
            </div>
            <div class="flex flex-row justify-center gap-4 mb-3">
                <div class="flex-col grow">
                    <span>Aerolínea.</span>
                    <p class="p-2 border border-indigo-500 rounded-md">
                        {{ complaintData.ticket.airline.airline_name }}
                    </p>
                </div>
                <div class="flex-col grow">
                    <span for="flight_number">Número del vuelo.</span>
                    <p class="p-2 border border-indigo-500 rounded-md">
                        {{ complaintData.ticket.flight_number }}
                    </p>
                </div>
                <div class="flex-col grow">
                    <span for="tikect_number">Número de boleto.</span>
                    <p class="p-2 border border-indigo-500 rounded-md">
                        {{ complaintData.ticket.ticket_number }}
                    </p>
                </div>
            </div>

            <div class="flex flex-row justify-center gap-4 mb-3">
                <div class="flex-col grow">
                    <span for="origin">Aeropuerto de origen.</span>
                    <p class="p-2 border border-indigo-500 rounded-md">
                        {{ complaintData.ticket.origin_airport.airport_name }}
                    </p>
                </div>
                <div class="flex-col grow">
                    <span for="destination">Aeropuerto de destino.</span>
                    <p class="p-2 border border-indigo-500 rounded-md">
                        {{
                            complaintData.ticket.destination_airport
                                .airport_name
                        }}
                    </p>
                </div>
            </div>

            <div class="flex flex-col mb-3">
                <span>Aeropuerto del suceso.</span>
                <p class="p-2 border border-indigo-500 rounded-md">
                    {{ complaintData.incident_airport.airport_name }}
                </p>

                <span>Motivo de la denuncia</span>
                <div class="flex flex-col gap-2">
                    <p class="p-2 border border-indigo-500 rounded-md">
                        {{ complaintData.motive.motive }}
                    </p>
                </div>

                <span> Descripción de la denuncia </span>
                <p class="p-2 border border-indigo-500 rounded-md">
                    {{ complaintData.description }}
                </p>
                <span> Estatus de la denuncia actual </span>
                <p class="p-2 border border-indigo-500 rounded-md">
                    {{ complaintData.complaint_status.status_name }}
                </p>
            </div>

            <!-- 
                <fieldset class="mb-4">
                    <legend class="text-lg font-bold border-b-2 border-indigo-500 mb-4">
                        Elementos probatorios
                    </legend>
                    <input
                        type="file"
                        name="files"
                        class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-500"
                    />
                </fieldset> -->
            <p
                class="text-2xl font-bold text-center border-b-2 border-indigo-500 mb-5"
            >
                Datos del denunciante
            </p>

            <div class="flex flex-col mb-3">
                <span> Nombres y Apellidos </span>
                <p class="p-2 border border-indigo-500 rounded-md">
                    {{ complaintData.user.first_name }}
                    {{ complaintData.user.last_name }}
                </p>
            </div>

            <div class="flex flex-row justify-center gap-4 mb-3">
                <div class="flex flex-col grow">
                    <span> Nacionalidad </span>
                    <p class="p-2 border border-indigo-500 rounded-md">
                        {{ complaintData.user.nationality_id }}
                    </p>
                </div>
                <div class="flex flex-col grow">
                    <span> Documento de identidad</span>
                    <p class="p-2 border border-indigo-500 rounded-md">
                        {{ complaintData.user.document }}
                    </p>
                </div>
            </div>
            <div class="flex flex-col mb-3">
                <span> Profesión </span>
                <p class="p-2 border border-indigo-500 rounded-md">
                    {{ complaintData.user.profession }}
                </p>
                <span> Email </span>
                <p class="p-2 border border-indigo-500 rounded-md">
                    {{ complaintData.user.email }}
                </p>
            </div>
            <div class="flex flex-row justify-center gap-4 mb-3">
                <div class="flex-col grow">
                    <span> Teléfono principal </span>
                    <p class="p-2 border border-indigo-500 rounded-md">
                        {{ complaintData.user.phone }}
                    </p>
                </div>
                <div class="flex-col grow">
                    <span> Telefono local </span>
                    <p class="p-2 border border-indigo-500 rounded-md">
                        {{ complaintData.user.local_phone }}
                    </p>
                </div>
            </div>
            <div class="flex flex-col mb-3">
                <span> Dirección de domicilio </span>
                <p class="p-2 border border-indigo-500 rounded-md">
                    {{ complaintData.user.domicile_address }}
                </p>
                <span> Dirección alternativa </span>
                <p class="p-2 border border-indigo-500 rounded-md">
                    {{ complaintData.user.additional_address }}
                </p>
            </div>
        </div>
        <form>
            <p
                class="text-2xl font-bold text-center border-b-2 border-indigo-500 mb-5"
            >
                Procesamiento de la denuncia
            </p>
            <fieldset>
                <label>Cambiar estado</label>
                <select
                    class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-500"
                >
                    <option value=""></option>
                </select>
                <label for="">Notas del procesamiento</label>
                <textarea
                    name=""
                    id=""
                    class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-500 h-40"
                ></textarea>
            </fieldset>
            <div class="flex justify-center">
                <button
                    class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded"
                >
                    Procesar denuncia
                </button>
            </div>
        </form>
    </div>
</div>
}@else{
<p>Cargando...</p>
}
