

<section class="bg-white dark:bg-gray-900 mt-95">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
          <img class="w-15 h-15 mr-2" src="/logosada02.png" alt="logo">    
      </a>
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  Registrarse
              </h1>
              <form class="space-y-4 md:space-y-6" action="#">
                <div>
                  <label for="nombres" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombres</label>
                  <input type="text" name="nombres" id="nombres" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" required="">
              </div>
              <div>
                <label for="apellidos" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellidos</label>
                <input type="text" name="apellidos" id="apellidos" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" required="">
            </div>
                  <div>
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo</label>
                      <input type="email" name="email" id="email" class= "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="ejemplo@gmail.com" required="">
                  </div>
                  <div>
                      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
                      <input type="password" name="password" id="password" placeholder="Minimo seis(6) carateres" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" required="">
                  </div>
                  <div>
                      <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirme la contraseña</label>
                      <input type="confirm-password" name="confirm-password" id="confirm-password" placeholder="Repetir los seis(6) carateres" class= "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 " required="">
                  </div>
                  
              <div>
                <label for="fecha" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">fecha de nacimiento</label>
                <input type="date" name="fecha" id="fecha" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" required="">
            </div>

            <div>
              <label for="profecion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">PROFECION U OFICIO</label>
              <input type="text" name="profecion" id="profecion" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" required="">
           </div>

           <div class="flex items-center gap">
              <label for="CI" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> DOCUMENTO DE IDENTIDAD </label>
              <select id="CI"class="w-auto bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected>CIV</option>
                <option value="CIE">CIE</option>
                <option value="PAS">PAS</option>
              </select>
              <input type="number" name="profecion" id="profecion" class="w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm" required/>   
          </div>

          <div>
            <label for="nacionalidad" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nacionalidad</label>
              <select id="CI"class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected>CIV</option>
                <option value="CIE">CIE</option>
                <option value="PAS">PAS</option>
              </select>         
        </div>

        <div>
            <label for="contry" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pais de procedencia</label>
              <select id="CI"class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected>CIV</option>
                <option value="CIE">CIE</option>
                <option value="PAS">PAS</option>
              </select>         
        </div>

        <div>
            <label for="estate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Estado</label>
              <select id="CI"class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected>CIV</option>
                <option value="CIE">CIE</option>
                <option value="PAS">PAS</option>
              </select>         
        </div>

        <div>
            <label for="direcion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Direcion de domicilio</label>
            <input type="text" name="direcion" id="direcion" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" required="">
        </div>

        <div>
            <label for="direcion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Direcion adicional</label>
            <input type="text" name="direcion" id="direcion" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="Obligatorio para extanjero">
        </div>

        <div>
            <label for="numero" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero de telefono</label>
            <input type="number" name="numero" id="number" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="ejemplo: 05054687311">
        </div>
                  
                  <button type="submit" class="mt-8 block w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">REGISTRATE</button>
                  
              </form>
          </div>
      </div>
  </div>
</section>